body {
  background:  #e3e6ec;
  margin: 0px;
 
   &::-webkit-scrollbar {
     display: none;
     }
   }
   .login_form_container {
    height: 520px;
    width: 400px;
    border-radius: 0.5em;
    padding: 2em;
    display: flex;
    flex-direction: column;
  
    @media (max-width: 600px) {
      width: 300px;
    }
  
    @media (max-width: 400px) {
      width: 200px;
    }
  }
  
  .login_container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    background-image: url(../assets/image/Illustration1.svg),
      url(../assets/image/Illustration2.svg);
    background-position: left bottom, right bottom;
    background-repeat: no-repeat;
    background-size: 25vw 20vw;
  
    @media (max-width: 600vh) {
      background-size: 20vw 20vw;
      position: absolute;
      left :0px;
      background-position: left bottom, right bottom;
    }
  
    @media (max-width: 40vh) {
      background-size: 20vw 20vw;
      background-position: left bottom, right bottom;
  }
}
  
  
     .signup_form_container {
       height: 400px;
       width: 350px;
       border-radius: 0.5em;
       padding: 2em;
       display: flex;
       flex-direction: column;
       @media (max-width: 600px) {
        width: 300px;
      }
    
      @media (max-width: 400px) {
        width: 200px;
      }
     
     }
     .signup_container {
       height: 100vh;
       width: 100vw;
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       
     
       background-image: url(../assets/image/Illustration1.svg),
         url(../assets/image/Illustration2.svg);
       background-position: left bottom, right bottom;
       background-repeat: no-repeat;
       background-size: 25vw 20vw;
       @media (max-width: 600vh) {
        background-size: 20vw 20vw;
        position: absolute;
        left :0px;
        background-position: left bottom, right bottom;
      }
    
      @media (max-width: 40vh) {
        background-size: 20vw 20vw;
        background-position: left bottom, right bottom;
    }
     }
     .forget_form_container {
      height: 310px;
      width: 350px;
      border-radius: 0.5em;
      padding: 2em;
      display: flex;
      flex-direction: column;
      @media (max-width: 600px) {
        width: 300px;
      }
    
      @media (max-width: 400px) {
        width: 200px;
      }
    
    }
    
    .forget_container {
      height: 100vh;
      width: 100vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      
    
      background-image: url(../assets/image/Illustration1.svg),
        url(../assets/image/Illustration2.svg);
      background-position: left bottom, right bottom;
      background-repeat: no-repeat;
      background-size: 25vw 20vw;
      @media (max-width: 600vh) {
        background-size: 20vw 20vw;
        position: absolute;
        left :0px;
        background-position: left bottom, right bottom;
      }
    
      @media (max-width: 40vh) {
        background-size: 20vw 20vw;
        background-position: left bottom, right bottom;
    }
  }
     .verify_form_container {
       height: 350px;
       min-width: 200px;
       border-radius: 0.5em;
       padding: 2em;
       display: flex;
       flex-direction: column;
       @media (min-width: 200px) {
         width: 200px;
       }
       @media (min-width: 300px) {
         width: 300px;
       }
       @media (min-width: 600px) {
         width: 400px;
       }
     
     }
     .verify_container {
       height: 100vh;
       width: 100vw;
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       
     
       background-image: url(../assets/image/Illustration1.svg),
         url(../assets/image/Illustration2.svg);
       background-position: left bottom, right bottom;
       background-repeat: no-repeat;
       background-size: 25vw 20vw;
     }
     .signup_form_container {
      height: 420px;
      min-width: 200px;
      border-radius: 0.5em;
      padding: 2em;
      display: flex;
      flex-direction: column;
      @media (max-width: 600px) {
       width: 300px;
     }
   
   
    
    }
    .reset_container {
      height: 100vh;
      width: 100vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      
    
      background-image: url(../assets/image/Illustration1.svg),
        url(../assets/image/Illustration2.svg);
      background-position: left bottom, right bottom;
      background-repeat: no-repeat;
      background-size: 25vw 20vw;
      @media (max-width: 600vh) {
       background-size: 20vw 20vw;
       position: absolute;
       left :0px;
       background-position: left bottom, right bottom;
     }
   
  
    }
    .reset_form_container {
     height: 370px;
     width: 350px;
     border-radius: 0.5em;
     padding: 2em;
     display: flex;
     flex-direction: column;
     @media (max-width: 600px) {
       width: 300px;
     }
   
   
   }
     
    
     
    
     
     
     
    
    
     
     .css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
       width: 300px !important;
     }
     .css-pm8d7m-JoyRadioGroup-root {
       --RadioGroup-gap: 0rem !important;
     }
     .css-f0ril7-JoyRadioGroup-root {
      --RadioGroup-gap: 0rem !important;
     }
     .css-1e6y48t-MuiButtonBase-root-MuiButton-root {
      min-width: 45px!important;
     }
     .signup1_form_container {
      height: 270px;
      width: 340px;
      border-radius: 0.5em;
      padding: 2em;
      display: flex;
      flex-direction: column;
      @media (max-width: 600px) {
       width: 300px;
     }
   
     @media (max-width: 400px) {
       width: 200px;
     }
    
    }
    .right-aligned-header {
      text-align: right!important;
    }
    
    .signup1_container {
      height: 100vh;
      width: 100vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      
    
      background-image: url(../assets/image/Illustration1.svg),
        url(../assets/image/Illustration2.svg);
      background-position: left bottom, right bottom;
      background-repeat: no-repeat;
      background-size: 25vw 20vw;
      @media (max-width: 600vh) {
       background-size: 20vw 20vw;
       position: absolute;
       left :0px;
       background-position: left bottom, right bottom;
     }
   
     @media (max-width: 40vh) {
       background-size: 20vw 20vw;
       background-position: left bottom, right bottom;
   }
    }